@model DTW.Repository.User.UserModel

@{
    ViewData["Title"] = "Suppression de "+ @Model.UserForeName + " " + @Model.UserSurName;
}

<h1>@ViewData["Title"]</h1>

<h3>Êtes-vous sûrs de vouloir supprimer cet utilisateur ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserForeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserForeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserSurName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserSurName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retourner à la liste</a>
    </form>
</div>
