@model IEnumerable<DTW.Repository.User.UserModel>

@{
    ViewData["Title"] = "Liste des utilisateurs";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Créer un utilisateur</a>
</p>
<table class="table" id="tableUtilisateur">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserForeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSurName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserForeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserSurName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id=item.IdUser }) |
                @Html.ActionLink("Détails", "Details", new { id=item.IdUser }) |
                @Html.ActionLink("Supprimer", "Delete", new { id=item.IdUser })
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts{
    <script>
        $(document).ready( function () {
            $('#tableUtilisateur').DataTable();
        } );
    </script>
}

@section LesFichiersCss{
}