@model EditLinkViewModel

@{
}
<h1>Coucou, ici on veut modifier le lien</h1>
<p>@Model.monLien.Title</p>
<p>@Model.monLien.Description</p>
<p>@Model.monLien.URL</p>
<p>@Model.monLien.Auteur.UserForeName</p>
<p>@Model.monLien.Auteur.UserSurName</p>
<p>@Model.monLien.Auteur.UserEmail</p>
